.likedMovies_screen {
  overflow: hidden;
  height: 100vh;
}
.likedMovies_screenDiv {
  padding: 5rem 2rem 0 2rem;
}
.likedMovies_screenDiv h2 {
  color: #fff;
}
.likedMovies {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 2rem;
  position: relative;
}
