.likedMovies_screen {
  height: 100vh;
  padding: 5rem 0 2rem 2rem;
  margin-right: 2.5rem;
}
.likedMovies_screen h1 {
  color: #fff;
  margin-top: 2rem;
}
.likedMovies {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2rem;
  position: relative;
}
